.App {
  margin-left: 15%;
}
input {
  width: auto;
  height: auto;
  padding: 12px 20px;
  margin: 10px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
select {
  height: 33px;
  margin: 17px;

  width: 15%;
}
button {
  width: auto;
  max-width: 15%;
  background-color: #4caf50;
  color: white;
  padding: 10px;
  margin: 16px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
body {
  background: rgb(238, 230, 230);
}
